/*
	COLORS
 
	Dark Blue 			#222438
	Medium Blue			#959db5
	Light Blue	 		#c9d5e1
	Dark Blue Links		#1a4a6a
	
*/
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);
@import url(http://fonts.googleapis.com/css?family=Mouse+Memoirs);

body {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
	font-size: 3rem;
	text-align: center;
	background-color: #000F29;
	color: #fff;
}

h1 {
	font-size: 180px;
	font-size: 18rem;
	margin: 0;
	text-shadow: 0 2px 1px #fff;
	font-family: 'Mouse Memoirs', sans-serif;
	color:#00d8ff;
}

p {
	width: 80%;
	margin: 20px auto;
	margin: 2rem auto;
	text-shadow: 0 1px 1px #fff;
	line-height: 1.2;
}

a, a:visited {
	color: #fff;
	font-weight: bold;
	font-style: italic;
	text-shadow: none;
}

small {
	line-height: 1;
	font-style: italic;
	font-size: 20px;
	font-size: 2rem;
	text-shadow: 0 1px 0 #fff;
}

.download {
	padding-left: 15px;
	padding-left: 1.5rem;
}

.pro-tip {
	display: block;
	padding: 20px;
	padding: 2rem;
	text-shadow: 0 1px 0 #fff;
}

pre {
	font-size: 18px;
	font-size: 1.8rem;
}

blockquote {
	text-align: left;
	width: 70%;
	margin: 10px auto;
	margin: 1rem auto;
	background: #fff;
	border: solid 3px #959db5;
	padding: 0 40px;
	padding: 0 4rem;
	border-radius: 6px;
	border-radius: .6rem;
}

code {
	font-style: normal;
	padding-left: 5px;
	padding-left: .5rem;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #000;
	border-bottom: solid 3px #959db5;
	padding: 5px;
	padding: .5rem;
	opacity: .9;
}

#instructions {
	position: fixed;
	top: 25px;
	left: 40px;
	background: #fff;
	border: solid 3px #959db5;
	padding: 5px 10px;
	text-transform: uppercase;
	width: 180px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	z-index: 99;
	color: #222438
}



#powered {
	font-weight: bold;
	padding-bottom: 20px;
}

.nav-button {
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #eee;
	font-size: 26px;
	text-shadow: 0 -1px 1px #000;
	font-family: 'Just Me Again Down Here', cursive;
	font-weight: bold;
	font-style: normal;
	
}

.current, a.nav-button:hover {
	color: #fff;
}

#resize-graphic {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: .6;
}

/*----------------------------------------  SLIDES  */

.slide {
	margin: 0 auto;
	width: 99%;
	padding: 120px 0;
	padding: 12rem 0;
	height: 40rem;
	background-color: #000F29;

}

#title {
	line-height: .8;
}

#author {
	width: 55%;
	font-size: 50px;
	font-size: 5rem;
	margin: 0 auto;
	text-align: right;
	font-style: italic;
	font-family: 'Mouse Memoirs', sans-serif;
	letter-spacing: 2px;
}

#venue {
	width: 55%;
	font-size: 30px;
	font-size: 3rem;
	margin: 0 auto;
	text-align: left;
	font-style: italic;
	font-family: 'Mouse Memoirs', sans-serif;
	letter-spacing: 2px;
}

#cmr {
	font-size: 50px;
	font-size: 5rem;
	margin: 0 auto;
	font-style: italic;
	font-family: 'Mouse Memoirs', sans-serif;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

#logo {
	top: 127px;
	left: 250px;
	padding: 5px 10px;
	width:100px;
	float: left;
	margin: 0 auto;
}

.twitter-follow-button {
	position: relative;
	top: 8px;
	left: 4px;
}

#animations {
	padding-top: 70px;
	padding-top: 7rem;
	height: 480px;
	height: 48rem;
}

#examples h1 {
	padding-bottom: 20px;
	padding-bottom: 2rem;
}

#examples, #examples p, #credits {
	line-height: .8;
}

#examples p {
	padding-top: 20px;
}

#credits a {
	padding-right: 3px;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1401px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 6px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 5px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 4px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 3px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 3px;
	}
}

.sub {
	width: 85%!important;
	position: static !important;
	height: auto !important;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../img/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #223e87;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../img/ice.jpg);
}

.ch-img-2 { 
	background-image: url(../img/web.jpg);
}

.ch-img-3 { 
	background-image: url(../img/quiz.jpg);
}

.ch-img-4 { 
	background-image: url(../img/paper.jpg);
}

.ch-img-5 { 
	background-image: url(../img/photo.jpg);
}

.ch-img-6 { 
	background-image: url(../img/coding.jpg);
}

.ch-img-7 { 
	background-image: url(../img/it.jpg);
}

.ch-img-8 { 
	background-image: url(../img/hunt.jpg);
}

.ch-img-9 { 
	background-image: url(../img/dumb.jpg);
}

.ch-img-10 { 
	background-image: url(../img/gaming.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Mouse Memoirs', sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 180px;
	height: 180px;
	display: inline-block;
	margin: 20px;
}

#pop {
	background-color: #000;
	border-radius: 10px;
	box-shadow: 0 0 25px 5px #999;
	min-width: 450px;
	padding: 25px;
	max-width: 300px;
	font-family: 'Mouse Memoirs', sans-serif;
	display: none;
}

.rules {
	color:#fff;
	font-size:16px;
	font-family: verdana;
	text-align:left;
	line-height: 21px;
}

